<div class="text-center" *ngIf="!movie">
    <img src="/assets/images/loading.gif" alt="">
</div>
<div class="row" *ngIf="movie">
    <div class="col-md-4">
        <img [src]="movie.image" [alt]="movie.title">
    </div>
    <div class="col-md-8">
        <table class="table table-striped table-hover">
            <tbody>
                <tr>
                    <td>Directores</td>
                    <td>
                        <span *ngFor="let director of movie.directors" class="badge">
                            {{director.name}}
                        </span>
                    </td>
                </tr>
                <tr>
                    <td>Título</td>
                    <td>
                        {{movie.title}}
                    </td>
                </tr>
                <tr>
                    <td>Año</td>
                    <td>
                        {{movie.year}}
                    </td>
                </tr>
                <tr>
                    <td>Géneros</td>
                    <td>
                        <span *ngFor="let genre of movie.genres" class="badge">
                            {{genre.name}}
                        </span>
                    </td>
                </tr>
                <tr>
                    <td>Actores</td>
                    <td>
                        <span *ngFor="let actor of movie.actors" class="badge">
                            {{actor.name}}
                        </span>
                    </td>
                </tr>
                <tr>
                    <td>Calificación</td>
                    <td>
                        {{movie.rating}}
                    </td>
                </tr>
                <tr>
                    <td>Lanzamiento</td>
                    <td>
                        {{movie.release}}
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>